.toolbar{
    width:100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #572837;
    height: 56px;
}

.toolbar_nav-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.toolbar_nav-items li{
    padding: 0 0.5rem;
    color: white;
    list-style: none;
}

.spacer{
    flex: 1;
}

.toolbar_nav{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;

}
.toolbar_logo{
    margin-left: 1rem;
}

.toolbar_logo a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
.toolbar_nav-items{
    color: white;
    text-decoration: none;    
}

.toolbar_nav-items a{
    color: white;
    text-decoration: none;
}
.toolbar_nav-items a:hover,
.toolvar_nav-items a:active{
    color: #252542;
}

@media (max-width: 768px){
    .toolbar_nav-items{
        display: none;
    }
}



